<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxD2hM37_ExgEJGPwJ8goyC1_28smXYG4</string>
	<key>GCM_SENDER_ID</key>
	<string>131796864563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medbooker</string>
	<key>PROJECT_ID</key>
	<string>medbooker-project-edcca</string>
	<key>STORAGE_BUCKET</key>
	<string>medbooker-project-edcca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131796864563:ios:ee30ee8f45f8758f459d46</string>
</dict>
</plist>